<fieldset id="calendar_key">
    <legend>Quick info:</legend>
    <div>
        <div class="text">
            <p><strong>Pay period totals:</strong></p>
            {% if weekly_totals %}
            <div class="list-group">
                <a href="/chronos/{{user}}/{{year}}/{{month}}/payperiod/1" class="list-group-item">First: <strong>{{payperiod_totals.first}}</strong></a>
                <a href="/chronos/{{user}}/{{year}}/{{month}}/payperiod/2" class="list-group-item">Second: <strong>{{payperiod_totals.second}}</strong></a>
            </div>
            {% else %}
              <div class="list-group">
                <p>No shifts this month</a>
              </div>
            {% endif %}
        </div>
        <div class="text">
            <p><strong>Weekly totals:</strong></p>
            {% if weekly_totals %}
                <div class="list-group">
                {% for week in weekly_totals %}
                    <a href="/chronos/{{user}}/{{year}}/{{month}}/week/{{week.week}}" class="list-group-item">Week {{week.week}}: <strong>{{week.total}}</strong></a>
                {% endfor %}
              </div>
            {% else %}
              <p>No shifts this month</p>
            {% endif %}
        </div>
    </div>

    <div>
        <p><strong>Color key:</strong></p>
        <div class="today key">Today</div>

        <div class="first key">1st pay period</div>
        <div class="first filled key">Filled shift in 1st pay period (Timesheet)</div>

        <div class="second key">2nd pay period</div>
        <div class="second filled key">Filled shift in 2nd pay period (Timesheet)</div>
    </div>
</fieldset>
