{% extends 'base.html' %}

{% block pageJS %}
<script type="text/javascript">
    $(function() {
        $('#id_due_date').datepicker();
    });
</script>
{% endblock%}

{% block content %}
    <div>
           <h1>Dashboard</h1>
           <h2>Hello {{request.user.first_name}}</h2>

        {% if locations %}
          <div class="btn-group">
            <button type="button" class="btn btn-success">You are clocked IN</button>
            <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <span class="caret"></span>
              <span class="sr-only">Toggle Dropdown</span>
            </button>
            <ul class="dropdown-menu">
              {% for location in locations %}
                  <li><a href="#">{{location.name}}, {{clockin_time}}</a></li>
              {% endfor %}
            </ul>
          </div>
        {% else %}
            <button type="button" class="btn btn-danger">You are clocked OUT</button>
        {% endif %}

    {%if events or alerts %}
        {% if can_Add %}
        <form method="post" action="" style="padding-top:0em"> {% csrf_token %}
        {% endif %}

        {% if events %}
            <h3>Events</h3>
            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
            {% for event in events %}
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title">
                    {% if can_Add %}<input type="checkbox" name="pk" value="{{event.pk}}">{% endif %}
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse{{forloop.counter}}">
                      {{event.due_date.month}}/{{event.due_date.day}} {{event.title}}
                    </a>
                  </h4>
                </div>
                <div id="collapse{{forloop.counter}}" class="panel-collapse collapse in">
                  <div class="panel-body">
                    {% if event.user%}
                        <p> {{event.user}} posted on {{event.date}} </p>
                    {% else %}
                        <p> Labgeeks posted on {{event.date}} </p>
                    {% endif %}
                    <p> {{event.content}} </p>
                    <p> <mark>Due on {{event.due_date}} </mark></p>
                  </div>
                </div>
              </div>
            {% endfor %}
            </div>
        {% endif %}

        {% if alerts %}
            <h3>Alerts</h3>
            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
            {% for alert in alerts %}
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title">
                    {% if can_Add %}<input type="checkbox" name="pk" value="{{alert.pk}}">{% endif %}
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse{{forloop.counter}}">
                      {{alert.title}}
                    </a>
                  </h4>
                </div>
                <div id="collapse{{forloop.counter}}" class="panel-collapse collapse in">
                  <div class="panel-body">
                    {% if alert.user%}
                        <p> {{alert.user}} posted on {{alert.date}} </p>
                    {% else %}
                        <p> Labgeeks posted on {{alert.date}} </p>
                    {% endif %}
                    <p> {{alert.content}} </p>
                  </div>
                </div>
              </div>
            {% endfor %}
            </div>
        {% endif %}
    {% endif %}

    {% if events or alerts %}
        {% if can_Add %}
            <input type="submit" class="btn btn-primary" value="Archive" />
            </form>
        {% endif %}
    {% endif %}

    {% if can_Add%}
        <h3>Post Alert or Event</h3>
        <div id="addNotification">
            <form method="post" action="">{% csrf_token %}
                <label class="input_label">
                    <strong>Title
                    {% if not form_is_valid %}
                        <span class="required">*</span></strong>
                    {% else %}
                        </strong>
                    {% endif %}
                    {{ form.title }}
                </label>
                <label class="input_label">
                    <strong>Content</strong>
                    {{form.content}}
                </label>
                <label class="input_label">
                    <strong>Due Date</strong>
                    <p class="info">Add a due date to create an event</p>
                    {{form.due_date}}
                </label>
                {% if not form_is_valid %}
                    <p class="required">This field is required.</p>
                {% endif %}
                <input type="submit" class="btn btn-primary" value="Submit"/>
            </form>
        </div>
    {% endif %}

    {% if today_past_shifts or today_future_shifts %}
        <h2>Your shifts for today are:</h2>
        {%for shift in today_past_shifts%}
            <span class='past_shifts'><p>From {{shift.scheduled_in.time}} to {{shift.scheduled_out.time}} at {{shift.location}}</p></span>
        {% endfor %}
        {%for shift in today_future_shifts%}
            <span><p>From {{shift.scheduled_in.time}} to {{shift.scheduled_out.time}} at {{shift.location}}</p></span>
        {% endfor %}
    {% endif %}
{% endblock %}
